/* corps de page */
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* barre latérale/navigation */
.en-tete {
  display: none;
}
.logo-titre-bis {
  display: none;
}
label {
  display: none;
}
input {
  display: none;
}
aside {
  position: fixed;
  overflow: visible;
  width: 20%;
  height: 1350px;
  padding-left: 50px;
}
.navigation {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 180px;
}
img.logo-titre {
  position: absolute;
  width: 148px;
  height: 32px;
  top: 50px;
}
img.logo-formes {
  position: absolute;
  width: 144px;
  height: 20px;
  top: 720px;
}
/* articles/contenu */
main {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0px;
  left: 20%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 120px;
}
/* pied de page */
footer {
  position: fixed;
  width: 25px;
  height: 100%;
  bottom: 40px;
  text-align: right;
  line-height: 25px;
  font-family: "helvetica-regular", sans-serif;
  color: #e0d5c3;
  font-size: 11px;
  writing-mode: vertical-rl;
}
/* typo */
h1 {
  position: absolute;
  color: #917c62;
  font-family: "costa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin: 0px;
}
h2 {
  color: #917c62; /* marron */
  font-family: "helvetica-regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
h3 {
  color: #917c62; /* marron */
  font-family: "helvetica-regular", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
h4 {
  color: #917c62; /* marron */
  font-family: "helvetica-regular", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
}
h5 {
  color: #917c62;
  font-family: "helvetica-bold", sans-serif;
  font-size: 14px;
  margin: 0px;
}
h6 {
  color: #e0d5c3;
  font-family: "helvetica-bold", sans-serif;
  font-size: 14px;
  margin: 0px;
}
p {
  color: #917c62;
  font-family: "helvetica-regular", sans-serif;
  font-size: 14px;
  margin: 0px;
}
/* ancres navigation-1 */
a.navigation-1 {
  outline: none;
  text-decoration: none;
}
a.navigation-1:link {
  color: #917c62; /* marron */
}
a.navigation-1:visited {
  color: #917c62; /* marron */
}
a.navigation-1:focus {
  color: #f0e8da; /* beige */
}
a.navigation-1:hover {
  /* soulignement // border-bottom: 1px solid; */
  color: #f0e8da; /* beige */
}
a.navigation-1:active {
  color: #f0802d; /* orange */
}
/* ancres navigation-2 */
a.navigation-2 {
  outline: none;
  text-decoration: none;
}
a.navigation-2:link {
  color: #e0d5c3; /* marron clair */
}
a.navigation-2:visited {
  color: #e0d5c3; /* marron clair */
}
a.navigation-2:focus {
  color: #f0e8da; /* beige */
}
a.navigation-2:hover {
  /* soulignement // border-bottom: 1px solid; */
  color: #f0e8da; /* beige */
}
a.navigation-2:active {
  color: #f0802d; /* orange */
}
/* ancres navigation-3 */
a.navigation-3 {
  outline: none;
  text-decoration: none;
}
a.navigation-3:link {
  color: #f0802d; /* orange */
}
a.navigation-3:visited {
  color: #f0802d; /* orange */
}
a.navigation-3:focus {
  color: #f0e8da; /* beige */
}
a.navigation-3:hover {
  color: #f0e8da; /* beige */
}
a.navigation-3:active {
  color: #f0802d; /* orange */
}
/* index/navigation - grille des projets */
.boîte-projet {
  position: absolute;
  width: 870px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  grid-auto-rows: 270px;
}
img.boîte-projet {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 240px;
}
img.boîte-projet:hover {
  position: absolute;
  opacity: 0;
}
h3.boîte-projet {
  position: absolute;
  width: 180px;
  height: 30px;
  padding-top: 240px;
}
.boîte-projet-survol {
  position: absolute;
  width: 180px;
  height: 240px;
  transition:0.5s
}
.boîte-projet-survol:hover {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 240px;
  transition:0.5s
}
/* projet - bloc textes */
.boîte-texte {
  display: grid;
  width: 870px;
  max-height: auto;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}
.boîte-texte-bis {
  display: grid;
  width: 870px;
  max-height: auto;
  grid-template-columns: 1fr 1fr;
  margin-top: 75px;
}
.boîte-titre {
  grid-row: 1;
  grid-column: 1;
}
.boîte-resume {
  grid-row: 1;
  grid-column: 2;
  padding-left: 10%;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: none;
  border-spacing: 0px;
}
/* projet - visuel principal */
.image-principale {
  position: absolute;
  width: 870px;
  margin-top: 75px;
}
.image-plan-1 {
  width: 870px;
  margin-top: 75px;
  margin-bottom: 75px;
}
.image-plan-2 {
  width: 870px;
  margin-top: 75px;
  margin-bottom: 75px;
}
.video {
  position: absolute;
  z-index: 1;
  width: 870px;
  margin-top: 75px;
}
/* projet - visuels gallerie */
.galerie {
  width: 870px;
  display : flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-auto-flow: dense;
  padding: 2;
  margin-top: 750px;
  padding-bottom: 100px;
}
.galerie li {
  list-style-type: none;
  height: 220px;
}
.galerie li.landscape {
  grid-column-end: 2;
}
.galerie li img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.image-equipe {
  position: absolute;
  width: 130px;
  margin-top: 75px;
}
