/* CORPS DE PAGE */
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.no-scroll-page {
  overflow: hidden;
}
/* BARRE LATERALE/NAVIGATION */
.en-tete {
  display: none;
}
.logo-titre-bis {
  display: none;
}
label {
  display: none;
}
input {
  display: none;
}
aside {
  position: fixed;
  overflow: visible;
  width: 20%;
  height: 100vh;
  padding-left: 50px;
}
.navigation {
  position: absolute;
  width: 220px;
  height: 280px;
  top: 180px;
}
img.logo-titre {
  position: absolute;
  width: 148px;
  height: 32px;
  top: 50px;
}
img.logo-formes {
  position: absolute;
  width: 144px;
  height: 20px;
  bottom: 0;
  margin-bottom: 50px;
}
/* ARTICLES/CONTENU */
main {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0px;
  left: 20%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 120px;
}
/* PIED DE PAGE */
footer {
  position: fixed;
  width: 25px;
  height: 100%;
  bottom: 40px;
  text-align: right;
  line-height: 25px;
  font-family: "proxima-nova", sans-serif;
  color: #D4BBA7; /* marron clair */
  font-size: 12px;
  writing-mode: vertical-rl;
}
/* TYPO */
h1 {
  position: absolute;
  color: #4D2815; /* marron */
  font-family: "costa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin: 0px;
}
h2 {
  color: #4D2815; /* marron */
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
h3 {
  color: #4D2815; /* marron */
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}
h3-projet {
  position: absolute;
  color: #4D2815; /* marron */
  font-family: "proxima-nova", sans-serif;
  font-size: 14.5px;
  font-weight: bold;
  margin: 0px;
  padding-top: 320px;
}
h4 {
  color: #D4BBA7; /* marron clair */
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}
p {
  color: #4D2815; /* marron */
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  margin: 0px;
}
/* Typo couleur ponctuelle */
#texte-vert {
    color: #9C8B52;
    font-weight: bold;
}
#texte-orange {
    color: #E35B27;
    font-weight: bold;
}
#texte-bleu {
    color: #8CB4C9;
    font-weight: bold;
}
/* MENU */
/* ancres navigation-1 */
a.navigation-1 {
  outline: none;
  text-decoration: none;
}
a.navigation-1:link {
  color: #4D2815; /* marron */
}
a.navigation-1:visited {
  color: #4D2815; /* marron */
}
a.navigation-1:focus {
  color: #F9EEE6; /* beige */
}
a.navigation-1:hover {
  color: #F9EEE6; /* beige */
}
a.navigation-1:active {
  color: #f0802d; /* orange */
}
/* ancres navigation-2 */
a.navigation-2 {
  outline: none;
  text-decoration: none;
}
a.navigation-2:link {
  color: #D4BBA7; /* marron clair */
}
a.navigation-2:visited {
  color: #D4BBA7; /* marron clair */
}
a.navigation-2:focus {
  color: #D4BBA7; /* marron clair */
}
a.navigation-2:hover {
  /* soulignement // border-bottom: 1px solid; */
  color: #F9EEE6; /* beige */
}
a.navigation-2:active {
  color: #f0802d; /* orange */
}
/* ancres navigation-3 */
a.navigation-3 {
  outline: none;
  text-decoration: none;
}
a.navigation-3:link {
  color: #E35B27; /* orange */
}
a.navigation-3:visited {
  color: #E35B27; /* orange */
}
a.navigation-3:focus {
  color: #F9EEE6; /* beige */
}
a.navigation-3:hover {
  color: #F9EEE6; /* beige */
}
a.navigation-3:active {
  color: #E35B27; /* orange */
}
/* GRILLE PROJETS */
.boîte-projet {
  position: absolute;
  width: 870px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  grid-auto-rows: 270px;
  margin-top: 65px;
  padding-bottom: 45px;
}
img.boîte-projet {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 240px;
}
img.boîte-projet:hover {
  position: absolute;
  opacity: 0;
}
.boîte-projet-survol {
  position: absolute;
  width: 180px;
  height: 240px;
  margin-top: 65px;
  transition:0.5s
}
.boîte-projet-survol:hover {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 240px;
  transition:0.5s
}
/* TEXTES */
/* texte presentation */
.boîte-intro-1 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  padding-left: 1%;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: none;
  border-spacing: 0px;
  top: 125px;
}
.boîte-intro-1-bis {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  padding-left: 1%;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: none;
  border-spacing: 0px;
  top: 125px;
}
.boîte-intro-2 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  padding-left: 1%;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: none;
  border-spacing: 0px;
  top: 615px;
}
.boîte-intro-2-bis {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  padding-left: 1%;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: none;
  border-spacing: 0px;
  top: 615px;
}
/* texte projet */
.boîte-texte {
  display: grid;
  width: 870px;
  max-height: auto;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  column-gap: 25px;
}
.boîte-titre-1 {
  grid-row: 1;
  grid-column: 1;
  padding-right: 5%;
}
.boîte-titre-2 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  padding-right: 5%;
  top:540px;
}
.boîte-titre-3 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  padding-right: 5%;
  top:900px;
}
.boîte-resume {
  grid-row: 1;
  grid-column: 2;
  padding-left: 1%;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: none;
  border-spacing: 0px;
}
/* IMAGES */
/* images presentation */
img.accueil {
  position: absolute;
  width: 65%;
  top: 125px;
}
img.studio-1 {
  position: absolute;
  width: 100%;
  right: 0;
}
img.studio-2 {
  position: absolute;
  width: 65%;
  top: 1050px;
  padding-bottom: 45px;
}
img.demarche {
  position: absolute;
  width: 65%;
  top: 400px;
  padding-bottom: 45px;
}
img.partenaires {
  position: absolute;
  width: 100%;
  right: 0;
  padding-bottom: 45px;
}
/* images projet - principal */
.image-principale {
  position: absolute;
  width: 870px;
  margin-top: 75px;
}
.video {
  position: absolute;
  z-index: 1;
  width: 870px;
  margin-top: 75px;
}
/* images projet - galerie */
.galerie {
  width: 870px;
  display : flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-auto-flow: dense;
  padding: 2;
  margin-top: 750px;
  padding-bottom: 100px;
}
.galerie li {
  list-style-type: none;
  height: 220px;
}
.galerie li.landscape {
  grid-column-end: 2;
}
.galerie li img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.galerie-bis {
  width: 870px;
  display : flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-auto-flow: dense;
  padding-bottom: 100px;
}
